* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.empty #window {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 5px 5px 0 5px; /* Menyesuaikan ukuran tiling window */
}

#custom-logo,
#window,
#clock,
#battery,
#backlight,
#network,
#workspaces {
    background-color: rgb(0, 80, 80);
    border-radius: 10px;
}
/* 
    Beberapa module yang memiliki ikon dari nerdfonts 
    terkadang memiliki ukuran yang berbeda, oleh karena itu
    beberapa padding disesuaikan agar sesuai dengan ukuran
    dari module nya, agar tidak terlalu memanjang ke samping. 
*/
#window,
#clock {
    padding: 8px; /* Normal atau tidak ada ikon */
}

#battery {
    padding: 0 10px 0 8px; /* Ikon tipis */
}

#backlight {
    padding: 0 12px 0 8px; /* Ikon sedang */
}

#network {
    padding: 0 16px 0 8px; /* Ikon besar */
}

#custom-logo {
    padding: 0 16px 0 10px;
}

#workspaces button {
    color: #ffffff;
}