@import "tailwindcss";

@property --grid-opacity {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --glow-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

:root {
  --accent-color: oklab(37.667% 0.1349 0.07547);
}

body {
  @apply bg-black w-full min-h-svh;

  --grid-color: color-mix(
    in oklch,
    var(--accent-color) var(--grid-opacity),
    black
  );

  background-image:
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-size: 150px 150px;
  background-position: center;

  animation: pulse-grid 3s infinite;

  & .fullname-badge {
    @apply bg-(--accent-color)/25 border border-(--accent-color)/75 text-sm backdrop-blur-lg;
    color: color-mix(in oklch, var(--accent-color), white 35%);
  }
}

.hero-section {
  @apply min-h-svh max-w-7xl mx-auto flex items-center justify-center;
}

.hero-branding {
  background-image: linear-gradient(to bottom, white 50%, black 50%);
  background-size: 100% 4px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow:
    0 0 calc(7px * var(--glow-opacity)) #fff,
    0 0 calc(48px * var(--glow-opacity)) var(--accent-color),
    0 0 calc(52px * var(--glow-opacity)) var(--accent-color);

  animation: pulse-glow 3s infinite;
}

@keyframes pulse-grid {
  0%,
  100% {
    --grid-opacity: 75%;
  }
  50% {
    --grid-opacity: 55%;
  }
}

@keyframes pulse-glow {
  0%,
  100% {
    --glow-opacity: 1;
  }
  50% {
    --glow-opacity: 0.5;
  }
}
